.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .cat-flex-items {
        flex: 0 0 19%;
        margin: 10px 0;
        text-align: center;
        background-size: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: 0.3s;

        &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }

        & > a {
            color: #fff;
            text-decoration: none;
        }

        span {
            position: absolute;
            top: 50%;
            left: 10px;
        }

        .ppf_transparent {
            width: 100%;
            margin: 0 0 15px 0;
            background-size: cover
        }
    }
}
